*.pyo
*.pyc
bin/obj/**
!bin/obj/cities
!bin/obj/cities/
!bin/obj/cities/**
bin/db/**
bin/old
lib/San Token.txt
lib/Firebase_API_Key.json
root/_site
bin/defaults.conf
bin/configs/*
bin/__pycache__
*.pyc
